Django==4.0.3
PyYAML==6.0
django-cors-headers
pymysql
mysqlclient==2.1.0

djangorestframework~=3.13.1
markdown
django-filter

pylint-django
yapf

pytest
pytest-django
coverage

pytz~=2021.3
black

apscheduler
requests
iso8601==1.0.2

humanize
func-timeout
